name: Deno CI

on:
  push:
    branches: [master, dev]
  pull_request:
    branches: [master, dev]

jobs:
  test:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        deno-version: [1.20.6, "v1.x"]
        timezone: ["America/New_York", "Europe/London", "Europe/Berlin", "America/Santiago"]

    steps:
      - name: Git Checkout Deno Module
        uses: actions/checkout@v3
      - name: Use Deno Version ${{ matrix.deno-version }}
        uses: denoland/setup-deno@v1
        with:
          deno-version: ${{ matrix.deno-version }}
      - name: Test Deno Formatting
        run: deno fmt --check
      - name: Test Deno Linting
        run: deno lint
      - uses: szenius/set-timezone@v1.1
        with:
          timezoneLinux: ${{ matrix.timezone }}
      - name: Test Deno Module
        run: deno task test