name: Publish to NPM
on:
  release:
    types: [released]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
        with:
          # Build the exact code referenced by the release tag
          ref: ${{ github.event.release.tag_name }}

      - name: Setup Deno
        uses: denoland/setup-deno@v2
        with:
          deno-version: "2.x"
          
      - uses: actions/setup-node@v4
        with:
          node-version: '18.x'
          registry-url: 'https://registry.npmjs.org'

      - run: deno task build
      
      - run: npm publish
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
